# NFS-e de exemplo / saídas locais
nfse.xml

build/
tests/fixtures/

*.pfx

# Arquivos de ambiente
.env
.env.local
.env.*.local
.env.backup
.env.test
.env.production

# Dependências do Composer
/vendor/
composer.phar
composer.lock.bak