SEFIN_API_URL=https://sefin.producaorestrita.nfse.gov.br/SefinNacional/
SEFIN_CERTIFICATE_PATH=/path/to/client.pem
SEFIN_PRIVATE_KEY_PATH=/path/to/client.key
SEFIN_PRIVATE_KEY_PASSWORD=
SEFIN_CA_BUNDLE_PATH=
